body {
    text-align: center;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #eeeeee;
    cursor: pointer;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #eeeeee;
    display: inline-block;
    padding: 50px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eeeeee;
}

.jogador {
    font-size: 30px;
    margin-top: 10px;
}